name: Maven deploy snapshot

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:

    runs-on: ubuntu-latest
    strategy:
      matrix: 
        java: [11]
    name: Java ${{ matrix.java }} building ... 
    
    steps:
    - uses: actions/checkout@main
      with:
        fetch-depth: 0
    - name: Set up Java ${{ matrix.java }} 
      uses: actions/setup-java@main
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        cache: maven
        server-id: sonatype-nexus-snapshots 
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
    - name: Build with Maven
      run: mvn -B deploy --file pom.xml -DdisableXmlReport=true -Djacoco.skip=true -Dpmd.skip=true
      env:
        MAVEN_USERNAME: ${{ secrets.OSSRHUSERNAME }}
        MAVEN_PASSWORD: ${{ secrets.OSSRHPASSWORD }}
