name: Sphinx Pages
on: [push, workflow_dispatch]
permissions: write-all
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v4
      - name: Install XSLT Processor
        run: sudo apt-get install xsltproc sphinx-common
      - name: Install dependencies
        run: pip install sphinx_rtd_theme sphinx-book-theme myst_parser sphinx-prompt sphinx_substitution_extensions sphinx_issues sphinx_tabs sphinx_inline_tabs pygments
      - name: Checkout project sources
        uses: actions/checkout@v2
        with:
          ref: master
          fetch-depth: 0
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Run build with Gradle Wrapper
        run: gradle --no-build-cache clean xmldoc sphinx
      - name: Deploy
        uses: actions/configure-pages@v2
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          # Upload entire repository
          path: 'build/sphinx'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
